name: Linting

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  fourmolu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: haskell-actions/run-fourmolu@v10
      with:
        version: "0.14.0.0"
        pattern: |
          sel/**/*.hs
          libsodium-bindings/**/*.hs

  hlint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: 'Set up HLint'
      uses: haskell-actions/hlint-setup@v2
      with:
        version: '3.8'

    - name: 'Run HLint'
      uses: haskell-actions/hlint-run@v2
      with:
        path: '["sel", "libsodium-bindings"]'
        fail-on: warning

